  <div>
    <button class="buttonadduser" (click)="addUser()">Add User</button>
  </div>
  <div class="tablestyle">
    <div class="overLap">
    <td><p class="userid" >Name </p></td>
    <td><p class="actionid">Actions</p></td>
    </div>
    <div class="space"></div>
    <table>
      <tr
        *ngFor="let user of users | slice: (page - 1) * pageSize:page * pageSize">
        <div class="splitrow">
          <td class="nameAllign">{{ user.firstName }}</td>
          <td class="buttonAllign">
            <button class="buttonshowprofile" (click)="showProfile(user)">
              Profile
            </button>
            <b>|</b>
            <button class="buttonremoveuser" (click)="openDialog(user._id)">
              Delete
            </button>
          </td>
        </div>
      </tr>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length"></ngb-pagination>
  </div>