<div>
    <div>
        <button class="buttonadduser" (click) = "addUser()">Add User</button>
    </div>
    <div class="tablestyle">
        <table>
            <tr>
                <th class ="userid" >User</th>
                <th class="actionid"> Action</th>
            </tr>
        </table>
        <br>
        <table>
            <tr *ngFor="let user of Users | slice: (page-1) * pageSize : page * pageSize">
                <div class="splitrow">
                <td> {{user.firstName}}</td>
                <td> <button  class="buttonshowprofile" (click)="showProfile(user)">Profile</button>
                     <b>|</b>
                     <button class="buttonremoveuser" (click)="openDialog(user._id)">Delete</button>
                </td>
                </div>
            </tr>
        </table>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="Users.length"></ngb-pagination>
    </div>
</div>
