@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Fonts
$font-primary: "Montserrat", sans-serif;

.user-dashboard {
  .buttonadduser {
    background-color: white;
    font-family: $font-primary;
    float: right;
    color: black;
    font-size: 15px;
    margin: 4px 2px;
    margin-top: 10px;
    margin-right: 60px;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 12px;
    min-width: 10px;
    max-width: 130px;
    width: 130px;
  }
  .buttonadduser:hover {
    background-color: slategray;
  }

  .tablestyle {
    float: left;
    margin-top: 70px;
    margin-left: 10%;
    min-width: 10px;
    max-width: 400px;
    width: 15%;
    height: 10vh;

    th {
      background-color: #02899b;
      font-family: $font-primary;
      font-size: 15px;
    }

    th,
    td {
      min-width: 450px;
      max-width: 1117px;
      min-height: 30px;
      max-height: 34px;
      font-family: $font-primary;
      font-size: 15px;
      text-align: center;
      border-radius: 25px;
    }

    .splitrow {
      border-radius: 25px;
      padding: 6px;
      margin: 10px 0px;
      border: 1px snow;
      box-shadow: 1px 1px 1px 1px #666;
    }

    .actionid {
      background-color: #d81b60;
      color: white;
    }

    .userid {
      color: white;
    }

    .buttonshowprofile {
      font-family: $font-primary;
      background-color: white;
      border: none;
      color: #02899b;
      text-align: right;
      font-size: 15px;
      margin: 4px 2px;
    }

    .buttonremoveuser {
      background-color: white;
      font-family: $font-primary;
      font-size: 15px;
      border: none;
      color: #ff0000;
      text-align: left;
    }

    .page-item.active .page-link {
      z-index: 5;
      color: rgb(33, 156, 33);
      background-color: none;
      border-color: none;
    }
  }
}