label {
  display: flex;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}
/* Style the submit button */
.registerbtn {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}