<div *ngIf="isLoggedIn">
  <div class="header">
    <div class="inner-header">
      <div class="logo-container">
        <!-- Tool bar menu for showing the side nav bars-->
        <div class="menu">
          <button mat-button (click)="toggleDrawer.emit(true)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <h2>DEL Service Management</h2>
      </div>
      <div class="dropdown">
        <mat-form-field>
          <mat-label>{{ userName }}</mat-label>
          <mat-select>
            <mat-option (click)="performLogout()">Logout</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>