@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Fonts
$font-primary: 'Montserrat', sans-serif;

// Colors
$color-text-dark: #a1a0a0;
$color-text-white: #ffffff;

$color-sidebar-bg: #066981;

.sidebar {
    float: left;
    min-width: 300px;
    max-width: 400px;
    width: 25%;
    height: 100vh;
    background-color: $color-sidebar-bg;

    .sidebar-container { 
        display: flex;

        ul {
            list-style-type: none;
        }

        li {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .sidebar-element {
            
            color: $color-text-dark;
            font-family: $font-primary;
            font-size: 15pt;
            
            margin: 20px;
            cursor: pointer;
        }

        .active {
            color: $color-text-white;
        }
    }
}